  <body class="nomobile">

    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <h1 data-animated="GoIn"><b>Real Madrid</b> plays in</h1>
            </header>
            <div id="hidden">
            	
			<%= hidden_field_tag 'opponent_hidden', @opponent  %>
			<%= hidden_field_tag 'location_hidden', @location  %>
			<%= hidden_field_tag 'year_hidden', @year  %>
			<%= hidden_field_tag 'month_hidden', @month  %>
			<%= hidden_field_tag 'day_hidden', @day  %>
			<%= hidden_field_tag 'hour_hidden', @hour  %>
			<%= hidden_field_tag 'minute_hidden', @minute  %>
			


            </div>
            <!-- START TIMER -->
            <div id="timer" data-animated="FadeIn">
                <div id="days" class="timer_box"></div>
                <div id="hours" class="timer_box"></div>
                <div id="minutes" class="timer_box"></div>
                <div id="seconds" class="timer_box"></div>
                 <b><p id="message"></p></b>
            </div>
            <!-- END TIMER -->
            </br>	
            <div class="col-lg-4 col-lg-offset-4 mt centered">
			<!-- 	<form class="form-inline" role="form">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail2">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
				  </div>
				  <button type="submit" class="btn btn-success">Subscribe</button>
				</form> -->            
                <p>Powered by IntelliDesigns</p>	
			</div>
            
            
        </div>
        <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXTE READABLE -->
        <div id="layer"></div>
        <!-- END LAYER -->
        <!-- START SLIDER -->
        <div id="slider" class="rev_slider">
            <ul>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="/images/slider/3.png">
                <%=image_tag "slider/bg3.png"%>
              </li>
            </ul>
        </div>
        <!-- END SLIDER -->
    </section>
    <!-- END HEADER -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag "modernizr.custom" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "plugins" %>
    <%= javascript_include_tag "jquery.themepunch.revolution.min" %>
    <%= javascript_include_tag "custom" %>
  </body>